body {
    font-family: "Feather Bold";
    background-color: #FAFCFF;
}

.topbar {
    display: flex;
    justify-content: center;
    align-items: center; /* Om verticale centrering toe te voegen */
    max-width: 100%;
    width: 100%;
    padding: 10px 10px;
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}
.topbar button{ 
    font-size: xx-large;
    background-color: #F1A23B;
    padding: 1%;
    border: 1px;
    border-radius: 50px;
    color: #FAFCFF;
    font-family: "Feather Bold";
}

.topbar h1 {
    color: #50B2D5;
    margin-right: 20px; /* Ruimte tussen de items */
    font-size: 50px
}

.test-text {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding: 50px;

}

.test-text a {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding: 50px;
    background-color: #50B2D5;
    border: 1px #50B2D5 solid;
    border-radius: 50px;
    color: #FAFCFF;
    font-size: 100px;
}