body {
    font-family: "Feather Bold";
    background-color: #FAFCFF;
}

.topbar {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 100%;
    width: 100%;
    padding: 0px 0px;
    border-top: #3176B1 solid 0px;
    border-bottom: #3176B1 solid 3px;
}

.topbar button { 
    font-size: 60px;
    background-color: #F1A23B;
    padding: 1%;
    border: 1px;
    border-radius: 50px;
    color: #FAFCFF;
    font-family: "Feather Bold";
    width: 258px;
    height: 85px;
}

.topbar h1 {
    color: #50B2D5;
    margin-right: 20px;
    font-size: 60px;
}

p { 
    font-size: 20px; 
}

.container { 
    width: 80%;
    border-radius: 15px;
    z-index: 10;
    padding: 20px;
    text-align: center;
}
.container2 { 
    width: 40%;
    border-radius: 15px;
    z-index: 10;
    padding: 20px;
    text-align: center;
}

.skill { 
    background-color: #F1A23B; 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px;
}

.test-text {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px;
    position: relative;
    float: left;
    margin-left: 600px;
}

.test-text a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 50px;
    background-color: #50B2D5;
    border: 1px #50B2D5 solid;
    border-radius: 50px;
    color: #FAFCFF;
    font-size: 110px;
    
}

.play-totaal button {
    background-color: #50B2D5; 
    border: 1px #50B2D5 solid;
    border-radius: 50px;
    padding: 40px 40px;
    float: right;
    margin-right: 350px;
}

.play-totaal button img {
    display: block; 
    max-width: 100%;  
    margin-left: 30px;
}
.Mascotte{
    float: left;
    margin-left: 30px;
}
.test-text2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 50px;
    position: relative;
    float: left;
    margin-left: 600px;
}

.test-text2 a {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 50px;
    background-color: #50B2D5;
    border: 1px #50B2D5 solid;
    border-radius: 50px;
    color: #FAFCFF;
    font-size: 110px;
}